<div class="left-column">
    <h2 id='money'>Money raised</h2>
    <p>We raised <b>{{raised}}</b> sek, to plant <b>{{trees}}</b> trees last year, great job!</p>
    <div id='standings'>
        <h2>Last years standings</h2>
        <ul>
            {%- for c in contestants -%}
            <li class='contestant'>
                <span class='placement'>{{c[0]}}.</span>
                <span class='name'>{{c[2]}}</span>
                <span class='stars'>{{c[1]}}</span>
            </li>
            {%- endfor -%}
        </ul>
    </div>
</div>
