<!doctype HTML>
<html lang='en'>
	<head>
		<title>LiTHe-Kod 4.8, The website returns</title>
		<!-- We need an icon. -->
		<link rel='icon' type='image/png' href='/static/img/icon.png'>
		<link href='/static/style.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script src="/static/noise.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset='utf-8'/>
	</head>
	<body class="dark">
		<nav id='nav'>
			<div id='nav-toggle' onclick='let n = document.querySelector("#nav"); if (n.className) n.className = ""; else n.className += "open";'>
				<i class='material-icons'>menu</i>
			</div>
				<img id='nav-logo' src='/static/img/logo.png'>
			<ul>
				{%- for name, url, absolute in navigation -%}
				<li class='item {% if loop.index0 == selected %}selected{% endif %}'>
					{% if absolute %}
						<a href='{{ url }}'>{{ name }}</a>
					{% elif swedish %}
						<a href='{{ url }}/se'>{{ name }}</a>
					{% else %}
						<a href='{{ url }}/en'>{{ name }}</a>
					{% endif %}
				</li>
				{%- endfor -%}
			</ul>
			{% if swedish %}
				<a href='{{ path }}/en'>
					<img id='lang-img' src='/static/img/en.png' alt='language'>
				</a>
			{% else %}
				<a href='{{ path }}/se'>
					<img id='lang-img' src='/static/img/se.png' alt='language'>
				</a>
			{% endif %}
		</nav>
		<header>
			<canvas id="fancy-pants-graphics"></canvas>
			<img src='/static/img/totalrippad.svg'>
		</header>
		<article>
			{% block content %}
			<p> There is no content here!</p>
			{% endblock %}
		</article>
		<footer>
			<p>This is a footer with a lot of content!</p>
			<!-- TODO: Info -->
		</footer>
	</body>
</html>
