<!doctype HTML>
<html lang='en'>
	<head>
		<title>LiTHe-Kod 4.8, The website returns</title>
		<!-- We need an icon. -->
		<link rel='icon' type='image/png' href='static/img/icon.png'>
		<link href='static/style.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<meta charset='utf-8'/>
	</head>
	<body>
		<nav id='nav'>
			<div id='nav-toggle' onclick='let n = document.querySelector("#nav"); if (n.className) n.className = ""; else n.className += "open";'>
				<i class='material-icons'>menu</i>
			</div>
			<img src='static/img/logo.png'>
			<ul>
				{%- for name, url in navigation -%}
				<li class='item {% if loop.index == selected %}selected{% endif %}'>
					<a href='{{ url }}'>{{ name }}</a>
				</li>
				{%- endfor -%}
			</ul>
		</nav>
		<header>
			<img src='static/img/totalrippad.svg'>
		</header>
		<article>
			{% block content %}
			<p> There is no content here!</p>
			{% endblock %}
		</article>
		<footer>
			<p>This is a footer with a lot of content!</p>
			<!-- TODO: Info -->
		</footer>
	</body>
</html>
