<!doctype HTML>
<html lang='{%- if swedish -%}se{%- else -%}en{%- endif -%}'>
    <head>
        <title>LiTHe kod</title>
        <link rel='icon' type='image/png' href='/static/img/icon.png'>
        <link href='/static/style.css' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
        <script src="/static/script.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset='utf-8'/>
    </head>
    <body>
        <input name='theme-trigger' id='theme-trigger' type='checkbox'>
        <div id="body">
        <script>document.getElementById("theme-trigger").checked = window.localStorage.getItem("theme") === "light";</script>
        <input name='nav-trigger-toggle' id='nav-trigger-toggle' type='checkbox'>
        <nav id='nav'>
            <label for='nav-trigger-toggle'>
                <div id='nav-toggle'>
                    <i class="fas fa-bars"></i>
                </div>
            </label>
            <div id='nav-logo-container'>
                <img id='nav-logo' src='/static/img/logo.png'>
            </div>
            <ul>
                {%- for (name_se, name_en), nav_url, internal in navigation -%}
                <li class='item {% if loop.index0 == selected %}selected{% endif %}'
                    onclick='window.location.href=
                    {%- if not internal -%}
                        "{{ nav_url }}"
                    {%- elif swedish -%}
                        "{{ nav_url }}se/"
                    {%- else -%}
                        "{{ nav_url }}en/"
                    {%- endif -%};'
                    >
                    <a href=
                    {%- if not internal -%}
                        '{{ nav_url }}'
                    {%- elif swedish -%}
                        '{{ nav_url }}se/'
                    {%- else -%}
                        '{{ nav_url }}en/'
                    {%- endif %}>
                    {%- if swedish -%}
                        {{ name_se }}
                    {%- else -%}
                        {{ name_en }}
                    {%- endif -%}
                    </a>
                </li>
                {%- endfor -%}
            </ul>
            {% if swedish %}
            <a class='button' id='toggle-lang' href="{{ url }}en/">
                <img  onclick='window.location.href="en"' src='/static/img/en.svg'/>
            </a>
            {% else %}
            <a class='button' id='toggle-lang' href="{{ url }}se/">
                <img  src='/static/img/se.svg'/>
            </a>
            {% endif %}
            <label class='button' id='toggle-theme' for='theme-trigger'>
                <img id='dark-theme' src='/static/img/dark-theme.svg'/>
                <img id='light-theme' src='/static/img/light-theme.svg'/>
            </label>
        </nav>
        <header>
            <canvas id="fancy-pants-graphics"></canvas>
            <a id="header-graphic" href='{%- if swedish -%} /se/ {%- else -%} /en/ {%- endif -%}'>
                <img src='/static/img/totalrippad.svg'>
            </a>
        </header>
        <article>
            <noscript>
                <h1>Oh snag, no JS!</h1>
                <p id="no-script">Oh, it looks like you don't have JavaScript enabled, it's understandable really, but some of the functionality on this site won't work. Unfortunately you can't get light or dark theme or automatically switch between English and Swedish.</p>
            </noscript>
            {% block content %}
            <p> There is no content here!</p>
            {% endblock %}
        </article>
        <div id="footer-bg">
            <footer>
                <div class="footer-block">
                    <h2>
                        {%- if swedish -%}
                            Kontakt
                        {%- else -%}
                            Contact us
                        {%- endif -%}
                    </h2>
                    <p>
                        <a href="https://www.facebook.com/LitheKod/">
                            <i class="fab fa-facebook"></i> Facebook
                        </a>
                    </p>
                    <p>
                        <a href="https://lithe-kod.slack.com/">
                            <i class="fab fa-slack"></i> Slack
                        </a>
                    </p>
                    <p>
                        <a href="mailto:ordf@lithekod.se">
                            <i class="fas fa-at"></i> ordf@lithekod.se
                        </a>
                    </p>
                </div>
                <div class="footer-block">
                    <h2>
                        {%- if swedish -%}
                            Adress
                        {%- else -%}
                            Address
                        {%- endif -%}
                    </h2>
                    <p>LiTHe kod Kårallen, Universitetet</p>
                    <p>581 83 Linköping</p>
                </div>
            </footer>
        </div>
        </div>
        <canvas id="snowflakes"></canvas>
    </body>
</html>
