
.light {
	--primary-color: #111;
	--gray-color: #666;
	--background-color: #FFF;
	--dark-text-color: rgb(80, 80, 80);
	--link-color: #228e87;
	--page-color: #dddcdd;
	--highbackground-color: #1ec6ba;
	--sidebar-color: #222;
	--sidebar-highlight-color: #EEE;
	--margin: 3em;
}

.dark {
	--primary-color: #eee;
	--gray-color: #aaa;
	--background-color: rgb(32, 32, 32);
	--dark-text-color: rgb(80, 80, 80);
	--link-color: #1ec6ba;
	--page-color: #dddcdd;
	--sidebar-highlight-color: #EEE;
	--highbackground-color: #1ec6ba;
	--sidebar-color: #222;
	--margin: 3em;
}


body {
	line-height: 1.5;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: var(--background-color);
	color: var(--primary-color);
	overflow-x: hidden;
}

nav {
	z-index: 100;
	position: fixed;
	width: 50vw;
	max-width: 20em;
	height: 100vh;
	background-color: var(--sidebar-color);
	top: 0px;
	left: calc(-50vw);
	transition: 0.2s linear;
	font-size: 1.2em;
	font-weight: bold;
	color: var(--color-light);
}

nav.open {
	left: calc(0px);
}

#nav-toggle {
	width: 2em;
	height: 2em;
	margin-left: 50vw;;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0em 0.0em 0.5em 0em;
	cursor: pointer;
	user-select: none;
}

#nav-toggle i {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: center;
	color: var(--primary-color);
	margin-top: 0.2em;
	font-size: 1.4em;
	transform: rotation(0deg);
	transition: 0.2s linear;
	user-select: none;
}

.open #nav-toggle i {
	transform: rotate(0deg);
}

@media screen and (min-width: 40em) {
	nav {
		left: -20em;
	}
	#nav-toggle {
		margin-left: 20em;
	}
}

nav #nav-logo {
	margin: auto;
	margin-top: -2em;
	padding: 2em;
	padding-left: calc((100% - 75% - 2em) / 2);
	width: 75%;
}

nav #lang-img {
	cursor: pointer;
	width: 10%;
	padding: 0.5em;
	padding-left: 1em;
}

nav>ul {
	text-align: left;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav .item:hover, nav .item.selected:hover {
  color: var(--sidebar-highlight-color);
}

nav .item.selected {
	 color: var(--sidebar-color);
}

nav .item {
	cursor: pointer;
	padding: 0.5em;
	padding-left: 1em;
	width: calc(100% - 1.5em);
	background-color: var(--sidebar-color);
	color: var(--dark-text-color);
	text-align: left;
}

nav .item.selected {
	background-color: var(--highbackground-color);
}

#fancy-pants-graphics {
	position: absolute;
	height: 30vh;
	width: 100vw;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin-bottom: -30vh;
	z-index: -100;
	background-color: #F0F;
}

header {
	margin-left: var(--margin);
	margin-top: 5vh;
	margin-bottom: 7vh;
	height: 20vh;
}

header img {
	margin-top: calc(1vh);
	height: 8em;
}

header h2 {
	margin-top: 0px;
	font-size: 1.3em;
	color: var(--gray-color);
}

article {
	width: calc(100% - 2 * var(--margin));
	margin: auto;
}

img {
	width: 100%;
	border-radius: 0.3em;
}

a {
	color: var(--link-color);
}

footer {
	background-color: var(--background-color);
	color: var(--primary-color);
	width 100%;
	padding-left: var(--margin);
	padding-right: var(--margin);
	padding-top: 1em;
	padding-bottom: var(--margin);
}


#introduction .card h3 {
  margin-bottom: 0em;
	margin-left: 2em;
}

#introduction .card {
	width: 100%;
	text-align: left;
}

#introduction .card .symbol {
	width: 100%;
	font-size: 2em;
	position: relative;
	bottom: 1.1em;
	display: inline-block
}

#introduction .card p {
	position: relative;
	bottom: 3em;
}

@media screen and (min-width: 40em) {
	#introduction {
		display: flex;
		justify-content: space-between;
	}

	#introduction .card h3 {
		margin-left: 0em;
  }
	
	#introduction .card {
		width: 30%;
		text-align: center;
	}
	
	#introduction .card p {
		bottom: 0em;		
	}
	

	#introduction .card .symbol {
		width: 100%;
		font-size: 8em;
		bottom: 0em;
	}
}

