:root {
	--primary-color: #eee;
	--gray-color: #aaa;
	--background-color: rgb(32, 32, 32);
	--link-color: #1ec6ba;
	--page-color: #dddcdd;
	--highbackground-color: #1ec6ba;
	--sidebar-color: #000;
	--margin: 3em;
}

body {
	line-height: 1.5;
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background-color: var(--background-color);
	color: var(--primary-color);
	overflow-x: hidden;
}

nav {
	position: fixed;
	width: 50vw;
	max-width: 20em;
	height: 100vh;
	background-color: var(--sidebar-color);
	top: 0px;
	left: calc(-50vw);
	transition: 0.2s linear;
}

nav.open {
	left: calc(0px);
}

#nav-toggle {
	width: 2em;
	height: 2em;
	margin-left: 50vw;;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0em 0.0em 0.5em 0em;
	cursor: pointer;
	user-select: none;
}

#nav-toggle i {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: center;
	color: var(--primary-color);
	margin-top: 0.2em;
	font-size: 1.4em;
	transform: rotation(0deg);
	transition: 0.2s linear;
	user-select: none;
}

.open #nav-toggle i {
	transform: rotate(0deg);
}

@media screen and (min-width: 40em) {
	nav {
		left: -20em;
	}
	#nav-toggle {
		margin-left: 20em;
	}
}

nav img {
	margin: auto;
	margin-top: -2em;
	padding: 2em;
	padding-left: calc((100% - 75% - 2em) / 2);
	width: 75%;
	margin-left:
}

nav>ul {
	text-align: left;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

nav a {
	text-decoration: none;
	color: var(--color-light);
}

nav .item:hover, nav .item.selected:hover {
	background-color: var(--sidebar-color);
  color: var(--primary-color);
}

nav .selected a {
	 color: var(--sidebar-color);
}

nav .item {
	cursor: pointer;
	padding: 0.5em;
	padding-left: 1em;
	width: calc(100% - 1.4em);
	background-color: var(--sidebar-color);
	color: var(--background-color);
}

nav .item.selected {
	background-color: var(--highbackground-color);
}

header {
	margin-left: var(--margin);
	margin-top: 50px;
	margin-bottom: 50px;
}

header img {
	margin-top: 20px;
	height: 8em;
}

header h2 {
	margin-top: 0px;
	font-size: 1.3em;
	color: var(--gray-color);
}

article {
	width: calc(100% - 2 * var(--margin));
	margin: auto;
}

img {
	width: 100%;
	border-radius: 0.3em;
}

a {
	color: var(--link-color);
}

footer {
	background-color: var(--background-color);
	color: var(--primary-color);
	width 100%;
	padding-left: var(--margin);
	padding-right: var(--margin);
	padding-top: 1em;
	padding-bottom: var(--margin);
}


#introduction {
	display: flex;
	justify-content: space-between;
}

#introduction .card {
	width: 300px;
}

#introduction .card h3 {
	text-align: center;
}

#introduction .card p {
	text-align: center;
}

#introduction .card .symbol {
	width: 300px;
	font-size: 100px;
	text-align: center;
}

